.samples-tree {
    -fx-background-color: -fx-outer-border, -fx-background;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 2, 0;
}

.anchorPane{
    /*-fx-background-color: -fx-outer-border, -fx-background;*/
    -fx-background-color: white;
    -fx-border-width: 1;
    -fx-border-radius: 5;
}

.gridPane{
    -fx-background-radius: 10;
    -fx-border-width: 1;
    -fx-border-radius: 10;
    -fx-border-color: gray;
}

.button{
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-font-size: 15px;
    -fx-background-color:
            #ECECEC,
            linear-gradient(#ECECEC 50%, #D5D5D5 100%),
            radial-gradient(center 50% -40%, radius 200%, #ECECEC 45%, #D5D5D5 50%);
    -fx-text-fill: black;
    /*-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.8) , 3, 0.5 , 1 , 2 );*/
}

.button:focused,.button:hover{
    -fx-background-color: #D5D5D5;
    -fx-border-color: #0384ec;
    /*-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );*/
}

.login-button{
    -fx-border-width: 1;
    -fx-border-color: gray;
    -fx-pref-width: 60;
    -fx-pref-height: 40;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-font-size: 20px;
    -fx-font-family: "Segoe UI Symbol";
    -fx-font-weight: bold;
    -fx-padding: 3,5,3,5;
}

.retry-button{
    -fx-border-width: 1;
    -fx-border-color: gray;
    -fx-pref-width: 40;
    -fx-pref-height: 20;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-font-size: 12px;
    -fx-padding: 0,0,0,0;
}

.right-panel {
    -fx-padding: 5;
}

.right-panel > .menu-name {
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.right-panel > .separator {
    -fx-padding: 5 0 5 0;
}

.right-panel > .description {
    -fx-text-alignment: justify;
}

.right-panel > * > .project-name-title, 
.right-panel > * > .property {
    -fx-font-weight: bold;
}

.right-panel > * > .project-name {
    -fx-text-alignment: justify;
}

/* 
 * The area beneath the description specifically to allow people to interact with
 * the sample.
 */
.right-panel > .control-panel {
    -fx-padding: 5 0 0 0;
}

.label{
    -fx-font-family: "Microsoft YaHei";
    -fx-font-size: 1em;
    -fx-text-fill: #1d1d1d;
}

.title-label{
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-text-fill: #6c6c6c;
    -fx-effect: dropshadow( gaussian , #D5D5D5, 3, 0.5 , 1 , 2 );
}

.input-label{
    -fx-font-weight: bold;
}

.info-label{
    -fx-font-family: "JetBrains Mono";
}

.non-input-text-field{
    -fx-border-color: red;
}

.progress{
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-border-color: white;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-progress-color: #1d1d1d;
}

